a {
    text-decoration: none;
}

.header {
    max-width: 1170px;
    margin: auto;
    text-align: center;
    font-family: 'Cormorant Infant', serif;
}

.header-h1 {
    font-size: 36px;
    line-height: 36px;
    color: #262626;
    font-weight: 700;
    padding-top: 35px;
}

.header-p {
    font-size: 16px;
    line-height: 24px;
    color: #595959;
    font-weight: 300;
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 50px;
    border-bottom: 2px solid #e6e6e6;
}

.header-ul {
    display: flex;
    justify-content: space-around;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 25px;
    text-decoration: none;
}

.header-li a {
    color: #262626;
}

.header-li a:hover {
    color: #48974c;
}

.block_1 {
    background: url(../img/block1_background.png) 50% no-repeat;
    /*background-size: contain;*/
    padding-top: 9%;
    padding-bottom: 10%;
    position: relative;
}

.block_1_title {
    background: #fafbfc;
    width: 40%;
    padding-left: 40px;
    padding-right: 45px;
    margin-left: 10%;
    max-width: 540px;
}

.block_1_title-h4 {
    font-size: 60px;
    line-height: 60px;
    color: #404040;
    font-weight: 700;
    font-family: "Cormorant Infant", sans-serif;
    padding-top: 23px;
    padding-bottom: 20px;
    display: inline-block;
}

.block_1_title-p {
    font-size: 18px;
    line-height: 28px;
    color: #404040;
    font-weight: 400;
    font-family: "PT Sans", sans-serif;
    padding-bottom: 50px;
    display: inline-block;
}

.block_1_slider {
    position: absolute;
    display: flex;
    left: 13%;
    bottom: 15%;
}

.block_1_slider_dots {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #ffffff;
    margin-left: 5px;
    opacity: 0.7;
    cursor: pointer;
}

.block_2 {
    display: flex;
    background: #f0f0f0;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 60px;
}

.block_3 {
    width: 40%;
}

.block_3_info {
    background: white;
    padding: 3%;
    margin-top: 20px;
}

.block_3_info_img {
    width: 100%;
}

.block_3_info_date {
    padding-left: 10px;
    padding-top: 10px;
}

.block_3_info_date_span {
    font-size: 14px;
    line-height: 26px;
    color: #a6a6a6;
    font-weight: 400;
    font-family: "PT Sans", sans-serif;
}

.block_3_info_description {

}

.block_3_info_description-h4 {
    font-size: 30px;
    line-height: 24px;
    color: #262626;
    font-weight: 600;
    font-style: italic;
    font-family: "Cormorant Infant", sans-serif;
    padding-top: 5px;
}

.block_3_info_description-p {
    font-size: 16px;
    line-height: 26px;
    color: #737373;
    font-weight: 400;
    font-family: "PT Sans", sans-serif;
    padding-top: 5px;
    overflow: hidden;
    max-height: 150px;
    padding-bottom: 10px;
}

.block_3_info_social {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
}

.block_3_info_social_button {
    padding: 17px 33px;
    background: none;
    color: #48974c;
    border: 1px solid #48974c;
}

.block_3_info_social_ul {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.block_3_info_social_li {
    font-size: 20px;
    margin-left: 10px;
}

.block_3_info_social_li a:visited {
    color: #cccccc;
}

.block_3_info_social_li a {
    color: gray;
}

.block_3_info_social_li a:hover {
    color: #48974c;
}

.block_4 {
    width: 40%;
    margin-left: 2%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.block_4_info {
    background: white;
    padding: 3%;
    margin-top: 3%;
    width: 42%;
    margin-left: 1%;
}

.block_4_info_img {
    width: 100%;
}

.block_4_info_date {
    padding-left: 10px;
    padding-top: 10px;
}

.block_4_info_date_span {
    font-size: 14px;
    line-height: 26px;
    color: #a6a6a6;
    font-weight: 400;
    font-family: "PT Sans", sans-serif;
}

.block_4_info_description {

}

.block_4_info_description-h4 {
    font-size: 30px;
    line-height: 24px;
    color: #262626;
    font-weight: 600;
    font-style: italic;
    font-family: "Cormorant Infant", sans-serif;
    padding-top: 5px;
}

.block_4_info_description-p {
    font-size: 16px;
    line-height: 26px;
    color: #737373;
    font-weight: 400;
    font-family: "PT Sans", sans-serif;
    padding-top: 5px;
    overflow: hidden;
    max-height: 150px;
    padding-bottom: 10px;
}

.block_4_info_social {
    padding-top: 5px;
    display: flex;
    cursor: pointer;
    position: relative;
}

.block_4_info_social_button {
    border: none;
    background: none;
    font-size: 12px;
    line-height: 24px;
    color: #48974c;
    font-weight: 700;
    font-family: "PT Sans", sans-serif;
    position: relative;
    cursor: pointer;
}

.block_4_info_social_arrow {
    height: 20px;
    width: 20px;
    background: #48974c;
    border-radius: 50%;
}

.block_4_info_social_arrow:after {
    content: '';
    width: 2px;
    height: 10px;
    position: absolute;
    left: 10px;
    top: 8px;
    background: white;
    transform: rotate(125deg);
}

.block_4_info_social_arrow:before {
    content: '';
    width: 2px;
    height: 10px;
    position: absolute;
    left: 10px;
    top: 13px;
    background: white;
    transform: rotate(246deg);
}

.block_2_pagination {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.block_2_pagination_button {
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 700;
    font-family: "PT Sans", sans-serif;
    background: #48974c;
    padding: 1% 4%;
    border: none;
    margin-top: 2%;
    outline: none;
    position: relative;
}

.block_2_pagination_button:after {
    content: '>';
    position: absolute;
    left: 70%;
}

.pagination {
    display: inline-block;
    padding-top: 2%;
}

.pagination_ul {
    display: flex;
    font-size: 16px;
    line-height: 22px;
    color: #262626;
    font-weight: 400;
    font-family: "PT Sans", sans-serif;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    margin-left: 5px;
    background: white;
}

.pagination a:hover {
    background: #449653;
    color: white;
}

.fas {
    color: gray;
}

.pagination_points {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.block_5 {
    background: url(../img/block5.png) 100% 100% no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.block_5_description {
    position: absolute;
    bottom: 15%;
    left: 20%;
}

.block_5_description_span {
    font-size: 18px;
    line-height: 24px;
    color: #262626;
    font-weight: 400;
    font-family: "PT Sans", sans-serif;
    background: white;
    padding: 12px 30px 15px 20px;
}

.block_5_description_button {
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 700;
    font-family: "PT Sans", sans-serif;
    background: #48974c;
    border: none;
    outline: none;
    height: 50px;
    width: 140px;
    margin-left: -4px;
    cursor: pointer;
}

.block_6 {
    background: #f3f3f3;
    display: flex;
    justify-content: space-around;
    padding-top: 70px;
    padding-bottom: 70px;
}

.block_6_social {
    background: white;
    padding: 30px 30px 50px;
    width: 27%;
}

.block_6_social_span {
    display: block;
    font-size: 24px;
    line-height: 26px;
    color: #262626;
    font-weight: 600;
    font-style: italic;
    font-family: "Cormorant Infant", sans-serif;
}

.block_6_social_img {
    margin: auto;
    display: block;
    padding-top: 10px;
    width: 100%;
}

.block_6_banner {
    text-align: center;
    background: white;
    width: 50%;
    padding-top: 6%;
}

.block_6_banner_span {
    font-size: 24px;
    line-height: 26px;
    color: #262626;
    font-weight: 600;
    font-style: italic;
    font-family: "Cormorant Infant", sans-serif;
    text-align: center;
}

.footer_info {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 25px;
}

.footer {
    background: #404040;
    padding-bottom: 60px;
}

.footer_info_description {
    width: 33%;
}

.footer_info_description_h5 {
    font-size: 36px;
    line-height: 44px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Cormorant Infant", sans-serif;
}

.footer_info_description_p {
    padding-top: 20px;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 300;
    font-style: italic;
    font-family: "Cormorant Infant", sans-serif;
}

.footer_info_list {
    text-transform: uppercase;
    width: 30%;
    padding-left: 3%;
}

.footer_info_list_ul a {
    color: white;
}

.footer_info_list_ul {
    font-size: 16px;
    line-height: 34px;
    color: #ffffff;
    font-weight: 400;
    font-family: "PT Sans", sans-serif;
}

.footer_info_social_ul {
    display: flex;
    font-size: 20px;
}

.footer_info_social_li {
    padding-left: 10px;
}

.footer_info_social_ul a {
    color: gray;
}

.footer_info_social_img {
    padding-top: 8%;
    padding-left: 33%;
}

.footer_rights {
    padding-top: 20px;
    border-top: 2px solid gray;
    width: 75%;
    margin: auto;
}

.footer_rights_span {
    font-size: 14px;
    line-height: 20px;
    color: #999999;
    font-weight: 400;
    font-family: "PT Sans", sans-serif;
}

@media (max-width: 1140px) {
    .block_4_info {
        width: 43%;
    }
}

@media (max-width: 1024px) {

    .header-ul {
        flex-direction: column;
    }

    .header-li {
        padding-top: 10px;
    }

    .block_1 {
        padding-bottom: 5%;
    }

    .block_1_slider {
        display: none;
    }

    .block_3 {
        width: 35%;
    }

    .block_4 {
        width: 46%;
    }

    .block_4_info {
        width: 43%;
    }

    .block_5_description {
        bottom: 27%;
    }
}

@media (max-width: 960px) {
    .header-p {
        border: none;
        padding-bottom: 25px;
    }

    .block_1_title {
        background: #fafbfc;
        width: 40%;
        padding-left: 5%;
        padding-right: 5%;
        margin-left: 10%;
        max-width: 540px;
    }
    .block_1_title-p {
        font-size: 18px;
        line-height: 24px;
        color: #404040;
        font-weight: 400;
        font-family: "PT Sans", sans-serif;
        padding-bottom: 40px;
        display: inline-block;
    }
    .block_2_pagination{
        flex-direction: column;
        align-items: center;
    }
    .block_2_pagination_button{
        width: 35%;
    }
    .block_3 {
        width: 65%;
    }
    .block_4 {
        width: 70%;
    }
    .block_4_info {
        width: 42%;
    }
    .block_2_pagination_button:after {
        left: 80%;
    }
    .block_6 {
        /*justify-content: center;*/
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .block_6_social{
        width: 50%;
    }
    .block_6_banner{
        width: 50%;
        padding: 50px 30px 50px;
        margin-top: 25px;
    }
}
@media (max-width: 540px) {
    .header-h1{
        font-size: 25px;
    }
    .header-p{
        padding-bottom: 0;
    }
    .block_1_title{
        width: 60%;
    }
    .block_1_title-h4{
        font-size: 17px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .block_1_title-p{
        font-size: 12px;
    }
    .block_3_info_description-h4{
        font-size: 19px;
    }
    .block_3_info_description-p{
        font-size: 13px;
    }
    .block_3_info_social{
        flex-direction: column;
        align-items: center;
    }
    .block_3_info_social_li{
        font-size: 18px;
    }
    .block_3_info_social_button{
        padding: 5px;
        width: 50%;
    }
    .block_3_info_social_ul{
        width: 50%;
        justify-content: center;
        padding-top: 10px;
    }
    .block_4{
        width: 90%;
    }
    .block_4_info_description-h4{
        font-size: 20px;
    }
    .block_4_info_description-p{
        font-size: 11px;
    }
    .block_4_info_social{
        padding-left: 17%;
    }
    .block_4_info_social_arrow:before {
        left: 22%;
    }
    .block_4_info_social_arrow:after {
        left: 22%;
    }
    .block_2_pagination{
        padding-top: 28px;
        /*padding-right: 28px;*/
        flex-direction: column;
        align-items: center;
    }
    .block_2_pagination_button{
        width: 40%;
    }
    .pagination{
        padding-top: 5%;
    }
    .pagination a{
        padding: 5px 7px;
    }
    .footer_info{
        flex-direction: column;
        align-items: center;
    }
    .footer_info_description{
        width: 100%;
        text-align: center;
    }
    .footer_info_description_h5{
        font-size: 20px;
    }
    .footer_info_description_p{
        padding-top: 0;
    }
    .footer_info_list{
        width: 100%;
        text-align: center;
        padding-top: 5%;
    }
    .footer_info_social_img{
        padding-top: 8%;
        margin: auto;
        display: block;
        padding-left: 0;
    }
    .footer_info_social_ul{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .block_5_description{
        left: 6%;
    }
    .block_5_description_span{
        padding: 10px 12px 15px 17px;
    }
    .block_5_description_button{
        width: 100px;
        margin-left: -4px;
    }

}
@media (max-width: 400px) {
    .block_3{
        width: 90%;
    }
    .block_4_info{
        width: 90%;
    }
    .block_4_info_social{
        padding-left: 30%;
    }
    .block_4_info_social_arrow:after{
        left: 33%;
    }
    .block_4_info_social_arrow:before{
        left: 33%;
    }
}
